body{
    background-image: linear-gradient( 50deg, #302424, #063431 );
    color: white;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    font-style: normal;
}
  
header{
    margin: 30px 20px 20px 20px;
    font-size: 40px;
    text-align: center;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}

.search{
    display:flex;
    position: relative;
    justify-content: center;
    margin: 50px;
    transform-origin: center bottom;
    
}

.search .searchItem{
    width: 1125px;
    height: 71px;
    color:rgb(19, 173, 175);
    border-radius: 32px;
    opacity: 0.5;
    background-color:  #FBE9E9;
    padding: 10px 50px;
    font-size: 32px;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    font-style: normal;
    text-align: center; 
}


.search .searchBar{
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 360px;
    top: 8.1px;
    left: 1175px;
    background-color: #09A6FF;
    color: white;
}

.backgroundBox{
    position: relative; 
}

.backgroundBox .mangaAdd{
    position:absolute;
    left: 10px;
    width:34px;
    height: 34px;
    border-radius: 360px;
    color: white;
    background-color: #09A6FF;
    font-size: 32px;
    /* border: 0px; */
    padding-top: 0px;
    padding-bottom: 10px;
}

.box{
    margin: 20px 10px;
    padding: 10px;
    height: 373px;
    display: flex;
    border:12px;
    background-color: #011C24;
    border-radius: 55px;
    /* box-shadow: 5px 8px #8F01FF; */

}

.boxItem {
    position: relative;
    width: 215px;
    height: 300px; /* Adjust the height as needed */
    margin: 15px;
    border-radius: 36px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-color: rgb(34, 32, 29);
}

.boxItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 36px;
}

.boxItem p {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    text-align: center;
    margin: 0;
    padding: 5px;
}


.MangaList .mangaCarasouel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.MangaList .removeButton{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.MangaList .removeButton .removeButtonItem{
    margin-bottom: 10px;
    border-radius: 16px;
    color: white;
    background-color: #D820DC;
}

.addManga{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addManga .mangaItems{
    display: flex;
    align-items: center;

}

.addManga .addMangaSpan{
    margin: 0Px 25px;
}