<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga Tracker</title> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>Manga-Tracker</header>
    <div class="search">    
        <input class="searchItem" type="search" value="Search">
        <input class="searchBar" type="submit" value="Search">
    </div>
    <div class="backgroundBox">
        <form action="/add-manga">
            <button class="mangaAdd" type="submit">+</button>
        </form>
        <div class="box">
            {% if manga_lists %}
                {% for manga_name, image_link in manga_lists %}
                <div class="boxItem" style="background-image: url('{{ image_link }}');">
                    <a href="{{ url_for('manga_detail', manga_name=manga_name )}}">
                        <p>{{ manga_name }}</p>
                    </a>
                    <form action="/remove-manga" method="POST">
                        <input type="hidden" name="manga_name" value="{{  manga_name }}">
                        <button type="submit" class="removeButtonItem">Remove</button>
                    </form>
                </div>
                {% endfor %}
            {% else %}
                <p>No manga available</p>
            {% endif %}
        </div>
    </div>

    <div class="MangaList">
        <h2>My manga list</h2>
        <hr>
        <div class="mangaCarasouel">
            <div class="mangacarasouelList">
                <ul class="listItems">
                    {% if manga_lists %}
                        {% for manga_name, _ in manga_lists %}
                        <li class="mangaItems">
                            <a href="{{ url_for('manga_detail', manga_name=manga_name) }}">
                                {{ manga_name }}
                            </a>
                        </li>
                        {% endfor %}
                    {% else %}
                        <li class="mangaItems">No manga available</li>
                    {% endif %}
                </ul>
            </div>
            <div class="removeButton">
                {% if manga_lists %}
                    {% for manga_name, _ in manga_lists %}
                    <form action="/remove-manga" method="POST">
                        <!-- <p> This is the test {{ manga_name }}</p> -->
                        <input type="hidden" name="manga_name" value="{{  manga_name }}">
                        <button type="submit" class="removeButtonItem">Remove</button>
                    </form>
                    {% endfor %}
                {% else %}
                    <button class="removeButtonItem" disabled>No items to remove</button>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
